---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #000000;
$brand-color:      #ffffff;

$grey-color:       #999;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;



// CUSTOM
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: url(../img/giphy-18.gif);
}

.site-header {
    display: block;
}

.site-title {
    display: block;
    max-width: 300px;
    margin: 0 auto;

    img {
        @media (max-width: 500px) {
            max-width: 75px;
        }
    
        &:hover {
            filter:  sepia(93%) saturate(1352%) hue-rotate(187deg) brightness(119%) contrast(119%);
        }
    }
}

.navbar {
    margin: 5px;
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;

    i {
        font-size: 30px;
        padding: 10px;
        background: #fff;
        color: #111;

        @media (max-width: 500px) {
            font-size: 30px;
            padding: 5px;
        }
    }
}

.page-content {
    padding: 0;
    flex: 1 0 auto;
}

#mc_embed_signup {
    clear:left;
    max-width: 300px;
    text-align: center; 
    color: #f7f7f7;
    margin: 30px auto 0;

    input.email {
        width: 100%;
        padding: 10px;
        border: 1px solid #000;
        color: #000;
    }
    input.button {
        width: 100%;
        background: green;
        color: #f7f7f7;
        border: 0;
        padding: 10px;

        &:hover {
            background: darkgreen;
        }
    }
}

a.button,
a.button:active,
a.button:visited {
    display: block;
    max-width: 300px;
    background: #111;
    border: solid 2px #f7f7f7;
    padding: 20px;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;

    &:hover {
        background: #f7f7f7;
        color: #000;
        text-decoration: none;
    }
}

.site-footer {
    border-top: none;
    flex-shrink: 0;
    color:#f7f7f7;
}

body.page {
    .site-header .wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .navbar {
            .container {
                width: auto;
                .navbar .navbar-nav {
                    i {
                        @media (max-width: 500px) {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
        .site-title {
            max-width: 100px;
            margin-left: 20px;
            width: 100px;

            @media (max-width: 500px) {
                font-size: 25px;
                width: 75px;
                max-width: 75px;
                min-width: 50px;
                margin: 0;
            }
        }
        .navbar {
            @media (max-width: 500px) {
                margin: 0;
                height: 100%;

                .nav>li>a {
                    padding: 5px;
                }
                
                .container {
                    padding: 0;
                    height: 100%;
                }
            }
        }
    }
    .wrapper {
        max-width: 1024px;

        iframe {
            border: 0;
        }
    }
}


// Pricing tables
// -------------

div.pricing-table {
    width: 100%;

    .row > div {
        margin: 15px 0;
        
        .card {
            background: rgba(0,0,0,0.7);
            padding: 20px;
            color: #ccc;

            h3, h4 {
                font-weight: bold;
            }

            h3 {
                font-size: 2em;
            }

            &.muted {
                background: rgba(50,50,50,0.5);
                color: #ccc;
            }
        }
    }
}