<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/"><img src="../img/Jake-Plus-Logo-2021-holo.png"></a>

    <nav class="navbar">
      <div class="container">
        <div class="navbar">
          <ul class="nav navbar-nav">
            <li><a href="https://www.youtube.com/channel/UCv-0f3VP0SGu2fqOQmEhXpQ"><i class="fa fa-youtube"></i></a></li>
            <li><a href="spotify://artist/26aqxv0QF3RzwRvJUETf2X?si=z4hDP5OLQsGuvEAz8tWE7g&si=z4hDP5OLQsGuvEAz8tWE7g"><i class="fa fa-spotify"></i></a></li>
            <li><a href="http://www.soundcloud.com/JakePlus"><i class="fa fa-soundcloud"></i></a></li>
            <li><a href="http://www.instagram.com/JakePlusBeats"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </div>


</header>
